// Include all widgets
$include-default: true;
// Look in this folder for image resources:
$theme-name: 'extrovert';

// General variables overridden from Ext
$base-color: #6086A1;
$font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif !default;
$font-size  : 12px !default;

//**********************************************
// Extrovert-specific variables
//**********************************************
// Colors!
$extro-color-main: #324654;
$extro-color-main-light: #4C6A7F;
// Inspired from Twitter Bootstrap:
$extro-color-inverse: #414141;
$extro-color-warning: #FAA732;
$extro-color-danger: #DA4F49;

$extro-field-border-radius: 3px;


//-----------------------------------------------
//
// Ext theme variables we are customizing
//
//panel
$panel-header-background-gradient: color-stops($extro-color-main-light, $extro-color-main);
$panel-border-color: $extro-color-main;
$panel-header-color: #fff;
$panel-header-padding: 8px 5px 5px 8px !important;
$panel-header-font-size: ceil($font-size * 1.2);
$panel-header-font-weight: 400;

$panel-frame-background-color: #f1f1f1;

//window
$window-background-color: #e8e8e8;
$window-header-color: #333;
$window-header-padding: 8px 5px 5px 8px !important;
$window-header-font-size: ceil($font-size * 1.2);
$window-header-font-weight: 400;

//menu
$menu-item-active-background-color: darken(#f3f3f3, 5);
$menu-item-active-border-color: #9d9d9d;

//datepicker
$datepicker-header-background-color: #6f6f6f;
$datepicker-border-color: #585858;
$datepicker-th-background-color: #e9e9e9;
$datepicker-selected-item-background-color: #d8d8d8;
$datepicker-item-hover-background-color: transparent;

//progress bar
$progress-border-color: #8e8e8e;
$progress-background-color: #f1f1f1;
$progress-bar-background-color: #ababab;

//tips
$tip-base-color: $base-color;

//grid
$grid-header-over-border-color: darken($base-color, 3);

//toolbar
$toolbar-background-gradient: color-stops(#e6e6e6, #efefef);
$toolbar-separator-color: #aca899;
$toolbar-text-color: #000;

//btn group
$btn-group-background-color: #f0f0f0;
$btn-group-header-background-color: #dfdfdf;
$btn-group-border-color: #d0d0d0;
$btn-group-header-color: #666;

//form
$form-field-height: 26px;
$fieldset-header-color: #333;
$boundlist-border-color: #b5b8c8;
$boundlist-item-padding: 6px 4px;

//acordion
$accordion-header-background-color: #e5e5e5;

//tabs
$tab-base-color: #eaeaea;
$tab-color-active: #fff;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea);
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops($base-color, $extro-color-main, $extro-color-main-light);
$tab-background-gradient-disabled: 'tab-disabled' !default;

$tabbar-strip-background-color: $extro-color-main-light;
$tabbar-strip-border-color: $extro-color-main;

$tab-border-color: $extro-color-main;
$tab-height: 30px;
$tab-font-weight: 400;

//buttons
$button-default-base-color: #f8f8f8;
$button-default-base-color-over: #f3f3f3;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: #d6d6d6;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #bbbbbb;
$button-default-border-color-over: #9d9d9d;
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;


$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: 'matte';
$button-toolbar-background-gradient-focus: 'matte';
$button-toolbar-background-gradient-pressed: 'matte-reverse';
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;

//load mask
$loadmask-opacity: 1;

$button-small-font-size : 12px;
$button-medium-font-size: 14px;
$button-large-font-size : 16px;

$button-medium-font-weight: 200;
$button-large-font-weight : 200;


@import 'compass';
@import 'ext4/default/all';

.x-mask {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(37,37,37,0.2) 39%, rgba(85,85,85,0.75) 90%, rgba(94,94,94,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(39%,rgba(37,37,37,0.2)), color-stop(90%,rgba(85,85,85,0.75)), color-stop(100%,rgba(94,94,94,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(37,37,37,0.2) 39%,rgba(85,85,85,0.75) 90%,rgba(94,94,94,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(37,37,37,0.2) 39%,rgba(85,85,85,0.75) 90%,rgba(94,94,94,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(37,37,37,0.2) 39%,rgba(85,85,85,0.75) 90%,rgba(94,94,94,1) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(37,37,37,0.2) 39%,rgba(85,85,85,0.75) 90%,rgba(94,94,94,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5e5e5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

input,
textarea {
  -moz-box-shadow: inset 0 1px 3px #e0e0e0,0 1px #fafbfb;
  -webkit-box-shadow: inset 0 1px 3px #e0e0e0,0 1px #fafbfb;
  box-shadow: inset 0 1px 3px #e0e0e0,0 1px #fafbfb;
  // -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  // -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  // -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  // -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  // transition: border linear 0.2s, box-shadow linear 0.2s;
  
  //TODO: Enable this with exceptions for trigger fields:
  //border-radius: $extro-field-border-radius;
  //-moz-border-radius: $extro-field-border-radius;
  //-webkit-border-radius: $extro-field-border-radius;
}
.x-form-focus {
  border-color: $base-color !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}


// The SASS doesn't provide a variable that allows overriding this inner shadow
// ONLY for active tabs so we have to default to a CSS override:
.x-tab-default-top-active {
  -webkit-box-shadow: rgba(255,255,255,0.6) 0 1px 0px 0 inset, $base-color -1px 0 0px 0 inset, $base-color 1px 0 0px 0 inset;
  -moz-box-shadow: rgba(255,255,255,0.6) 0 1px 0px 0 inset, $base-color -1px 0 0px 0 inset, $base-color 1px 0 0px 0 inset;
  box-shadow: rgba(255,255,255,0.6) 0 1px 0px 0 inset, $base-color -1px 0 0px 0 inset, $base-color 1px 0 0px 0 inset;
  border-bottom: 1px solid $extro-color-main-light !important;
}
.x-tab button {
  padding: 2px;
  font-size: 12px;
}

.x-panel-header-text-default,
.x-panel-header-text-default-framed {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.x-accordion-hd .x-panel-header-text {
  text-shadow: 0 1px 0 #fff;
}

.extro-panel-inverse {
  .x-panel-header {
    @include background-gradient($extro-color-inverse, 'bevel');
  }
  .x-panel-header-default,
  .x-panel-body-default {
    border-color: $extro-color-inverse;
  }
  .x-panel-header-default-top {
    box-shadow: 0 1px 0 0 lighten($extro-color-inverse, 30) inset
  }
}

.extro-panel-danger {
  .x-panel-header {
    @include background-gradient($extro-color-danger, 'bevel');
  }
  .x-panel-header-default,
  .x-panel-body-default {
    border-color: $extro-color-danger;
  }
  .x-panel-header-default-top {
    box-shadow: 0 1px 0 0 lighten($extro-color-danger, 30) inset
  }
}

.extro-panel-warning {
  .x-panel-header {
    @include background-gradient($extro-color-warning, 'bevel');
  }
  .x-panel-header-default,
  .x-panel-body-default {
    border-color: $extro-color-warning;
  }
  .x-panel-header-default-top {
    box-shadow: 0 1px 0 0 lighten($extro-color-warning, 30) inset
  }
}
   
.x-panel-body {
  .extro-panel-child {
    .x-panel-header {
        @include background-gradient(lighten($extro-color-main-light, 15), 'bevel');
        padding: 6px 8px 2px !important;
        
        .x-panel-header-text,
        .x-panel-header-text-default {
            font-size: $font-size;
            font-weight: 400;
        }
     }
  }
}

.extro-btn-primary {
  background: #0074CC;
}
.extro-btn-primary.x-btn-over {
  background-color: #0055cc;
}
.extro-btn-inverse {
  background: #414141;
}
.extro-btn-inverse.x-btn-over {
  background-color: #222222;
}
.extro-btn-primary,
.extro-btn-inverse {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.extro-btn-primary .x-btn-inner,
.extro-btn-inverse .x-btn-inner {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  color: white;
}

.x-boundlist-item-over,
.x-boundlist-selected {
  color: #fff;
}
.x-boundlist-item {
  border-bottom: 1px solid #eee; 
}
