/**
 * Extrovert child Panel mixin
 * @mixin child-panel
 */
@mixin child-panel(
  $header-base-color: $extro-color-main-light,
  $header-lighten: 0,
  $border-width: 1px,
  $header-gradient-type: $base-gradient,
  $header-font-size: $font-size,
  $header-font-weight: $panel-header-font-weight,
  $header-padding: 6px 8px 2px
) {
  @include styled-panel(
    $border-color: $header-base-color,
    $border-width: $border-width,
    $header-lighten: $header-lighten,
    $header-gradient-type: $header-gradient-type,
    $header-font-size: $header-font-size,
    $header-font-weight: $header-font-weight,
    $header-padding: $header-padding
  );
}