/**
 * Extrovert styled Panel mixin
 * @mixin styled-panel
 * 
 * @param {Color} $border-color The border color and header base color
 * @param {Units} $border-width (optional) The border width (defaults to 1px)
 * @param {String/List} $gradient-type (optional) The type of gradient to be used (defaults
 *        to the value of $base-gradient). Can either be a string which is a predefined
 *        gradient, or it can be a list of color stops.
 */
@mixin styled-panel(
  $border-color: $extro-color-main,
  $border-width: 1px,
  $header-lighten: 0,
  $header-gradient-type: $base-gradient,
  $header-font-size: $panel-header-font-size,
  $header-font-weight: $panel-header-font-weight,
  $header-padding: $panel-header-padding
) {
  border-color: $border-color;
  border-width: $border-width;
  
  > .x-panel-header,
  > .x-panel-header-default-top,
  > .x-panel-header-default,
  > .x-panel-header-default-framed,
  > .x-panel-header-horizontal {
    @include styled-header(
      $border-color: $border-color,
      $border-width: $border-width,
      $header-lighten: $header-lighten,
      $header-gradient-type: $header-gradient-type,
      $header-font-size: $header-font-size,
      $header-font-weight: $header-font-weight,
      $header-padding: $header-padding
    );
  }
  
  > .x-panel-body-default {
    border-color: $border-color;
    border-width: $border-width;
  }
}