@import 'compass';
@import '../../../../resources/sass/extrovert.scss';


$highlight-background-color: #7b8b9d;
$header-background-color: darken($highlight-background-color, 30);


//*************************************************
// Custom To Do app styles
//*************************************************

.x-border-layout-ct {
  background-color: #444;
} 

.todo-header {
    @include background-gradient($header-background-color, 'bevel');
    padding: 15px;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    text-shadow: 0 1px 0 darken($header-background-color, 15);
    border-bottom: 1px solid darken($header-background-color, 15) !important;
}

.todo-main-panel {
  @include styled-panel(
    #333,     // border-color / header-base-color
    2px,      // border-width
    10,       // header-lighten (%)
    'glossy', // header-gradient-style
    18px,     // header-font-size
    400,      // header-font-weight
    10px      // header-padding
  );
}