@import 'compass';
@import 'compass/css3/border-radius';
@import '../../../../resources/sass/extrovert.scss';

// Adaptive layout mixin:
@import 'mixins/adaptive';


$highlight-background-color: #7b8b9d;
$header-background-color: darken($highlight-background-color, 30);


//*************************************************
// Custom To Do app styles
//*************************************************

.x-border-layout-ct {
  background-color: #444;
} 

//
// Main application header, just a styled Component
//
.todo-header {
    @include background-gradient($header-background-color, 'bevel');
    padding: 15px;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    text-shadow: 0 1px 0 darken($header-background-color, 15);
    border-bottom: 1px solid darken($header-background-color, 15) !important;
}

.todo-main-toolbar {
  border: 2px solid #333;
}
 
//
// Top-level application panels (Projects, To Do)
//
.todo-main-panel {
  @include styled-panel(
    #333,     // border-color / header-base-color
    2px,      // border-width
    10,       // header-lighten (%)
    'glossy', // header-gradient-style
    18px,     // header-font-size
    400,      // header-font-weight
    10px      // header-padding
  );
}

//
// Project Panel styles
//
.todo-project {
  background: #eee;
  
  .#{$prefix}panel-body {
    background: #eee;
  }
  
  .#{$prefix}panel-header-text {
    font-size: 16px !important;
  }
  
  .#{$prefix}accordion-hd {
    padding: 7px 8px !important;
  }
}
.todo-tasklist {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  position: relative;
  
  a, a:visited {
    display: block;
    color: #369;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: 200;
  }
}
.todo-tasklist-hover {
  @include background-gradient($extro-color-highlight, 'bevel');
}
.todo-task-count {
  position: absolute;
  right: 3px;
  top: 8px;
  background: lighten($extro-color-main-light, 20);
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 3px 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  @include border-radius(10px);
}

//
// Task List styles
//
.todo-task-grid {
  .#{$prefix}column-header-text {
    font-size: 16px;
    line-height: 20px;
  }
  
  .#{$prefix}grid-row {
    .#{$prefix}grid-cell {
      font-size: 15px;
      font-weight: 200;
    }
    
    .#{$prefix}grid-cell-inner {
      padding: 10px;
    }
  }
}

.extro-empty-text {
  padding: 20px;
  font-size: 20px;
  font-weight: 100;
}
