
@import 'compass';
@import '../../../../resources/sass/extrovert.scss';

$highlight-background-color: #7b8b9d;
$header-background-color: darken($highlight-background-color, 30);

#todo-viewport,
#todo-viewport-body {
  background: #555;
}

.todo-header {
    @include background-gradient($header-background-color, 'bevel');
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    text-shadow: 0 1px 0 darken($header-background-color, 15);
    border-bottom: 1px solid darken($header-background-color, 15) !important;
}

.todo-sidebar {
    border-width: 1px !important;
    padding: 0 0 5px 0; 
    
    .x-panel-body-default {
        border-color: $extro-color-main;
    }
}

.x-toolbar {
    @include background-gradient(#bbb, 'bevel');
    
    .x-toolbar-item {
        //border-color: #bbb;
    }
}
